<h1>Сброс пароля на VectorsApp</h1>
<p>Здравствуйте, <%= @user.email %>!</p>
<p>Чтобы сбросить пароль, перейдите по ссылке:</p>
<p><a href="<%= password_update_new_url(token: @token) %>">Восстановить пароль</a></p>
